body, 
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.section-offset {
  margin-bottom: 50px;
}

.flex {
  display: flex;
  justify-content: left;
  align-items: center;
}

.hero__title {
  font-size: 36px;
  margin-bottom: 30px;
}

.hero__subtitle {
  position: relative;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.hero__subtitle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: rgb(24, 125, 15);
}

.hero__list:not(:last-child) {
  padding-bottom: 30px;
}

.hero__text {
  color: rgb(31, 31, 31);
}

.hero__text-bold {
  font-weight: 700;
  color: #484848;
  font-size: 16px;
}

.hero__link {
  color: rgb(98, 98, 98);
  transition: color ease-out .3s;
}

.hero__link:active {
  color: rgb(79, 79, 79);
}

.hero__link:hover {
  color: rgb(55, 55, 55);
}

.hero__link:focus {
  color: rgb(24, 24, 24);
}

.hero__paragph {
  padding-bottom: 30px;
}

.hero__list li {
  position: relative;
  padding-left: 10px;
}

.hero__list li:not(:last-child) {
  margin-bottom: 10px;
}

.hero__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: rgb(24, 125, 15);
}

.hero__list .hero__item {
  padding-left: 0;
}

.hero__item::before {
  display: none;
}

.work__title {
  margin-bottom: 30px;
}

.work__list {
  flex-wrap: wrap;
  
  padding-bottom: 50px;
}

.work__list:last-child {
  padding-bottom: 0;
}

.work__item {
  position: relative;
  width: 260px;
  margin-right: 15px;
  box-shadow: 0 0 10px 2px #000;
  overflow: hidden;
}

.work__item:last-child {
  margin-right: 0;
}

.work__item::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-20%);
  opacity: 0;
  transition: transform ease .6s, opacity ease .6s;
}

.work__item:hover::before {
  transform: translateY(0);
  opacity: 1;
  transition: transform ease .6s, opacity ease .6s;
}

.work-js:nth-child(1):before {
  content: "Функционал приложения основан на добавлении, сохранении и, при необходимости, удалении задач. Есть возможность переключаться между разными страницами в приложении. Массивы храняться в localstorage";
}

.work-js:nth-child(2):before {
  content: "Игра написана полностью на языке JavaScript, представляет из себя набор массивов с карточками и функционалом выбора размера игрового поля. Так же, каждый раунд начинается с обновления таймера, который поддерживает темп игры";
}

.work-html:nth-child(1):before {
  content: 'Лендинг написан при помощи технологии flex, полностью адаптивен. Проработаны функции анимации модального окна, а так же адаптированы слайдеры и "бургер" меню';
}

.cart__body {
  align-items: flex-end;
  justify-content: center;
  height: 210px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  background-color: rgb(192, 192, 192);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.work-js:nth-child(1) .cart__body {
  background-image: url(../img/todo.png);
}

.work-js:nth-child(2) .cart__body {
  background-image: url(../img/game.png);
}

.cart__link {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #5787bb;
  font-size: 12px;
  color: #fff;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  transition: opacity ease .6s, transform ease .3s;
}

.cart__link:nth-child(1) {
  left: 10px;
}

.cart__link:nth-child(2) {
  right: 10px;
}

.cart__link:last-child {
  margin-right: 0;
}

.cart__link:hover {
  transition: transform ease .3s;
  transform: scale(1.05);
}

.work__item:hover .cart__link {
  opacity: 1;
  z-index: 10;
  transition: opacity ease .6s;
}

.cart__descr {
  padding: 0 5px 5px;
  font-size: 14px;
  text-align: center;
}